mne
https://api.github.com/repos/numpy/numpydoc/zipball/master
pyvista>=0.24
mayavi
PySurfer[save_movie]
dipy --only-binary dipy
nibabel
nilearn
neo
pytest-faulthandler
pytest-sugar
pydocstyle
codespell
python-picard
tqdm